@page "/BookList"
@page "/BookList/{Username}"
@using Microsoft.AspNetCore.Identity
@using BookTracker.App.Models
@using System.Security.Claims
@using BookTracker.App.Data
@using Microsoft.EntityFrameworkCore

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject ApplicationDbContext DbContext

@if (!Result)
{
    <h1>No User was found or profile is set to private</h1>
}

else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Pages Read</th>
            <th>Your Rating</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>

        @{ var index = 0; }
        @foreach (Book book in Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Pages</td>
                <td>@book.PagesRead</td>
                <td>@book.Rating</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editBookModal-@index">
                        Edit
                    </button>

                    <!-- Bootstrap modal -->
                    <div class="modal fade" id="editBookModal-@index">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Book</h5>
                                </div>
                                <div class="modal-body">
                                    <EditForm Model="book" OnValidSubmit="@SaveBook">
                                        <InputText class="form-control" id="title" @bind-Value="book.Title" placeholder="Title"/><br/>
                                        <InputText class="form-control" id="author" @bind-Value="book.Author" placeholder="Author"/><br/>
                                        <InputNumber class="form-control" id="author" @bind-Value="book.Pages" placeholder="Pages"/><br/>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            index++;
        }
        </tbody>
    </table>
}


@code {

    [Parameter]
    public string Username { get; set; }

    public bool Result;
    public ApplicationUser? User { get; set; }
    public ICollection<Book> Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Username))
        {
            AuthenticationState authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
            ClaimsPrincipal claims = authState.User;
            User = await UserManager.GetUserAsync(claims);
            Username = User.UserName;
            Result = true;
        }
        else
        {
            User = await UserManager.FindByNameAsync(Username);
            Result = User is not null;
        }

        if (Result)
        {
            Books = await GetUserBooks();
        }
    }

    private async Task<ICollection<Book>> GetUserBooks()
    {
        var blId = User.BookListId;

        Books = await DbContext.Books
            .Where(b => b.BookListId == blId)
            .ToListAsync();

        return Books;
    }

    private async Task SaveBook()
    {
        await DbContext.SaveChangesAsync();
    }

}